
.content-heading {
  background-image: url(../images/material/bg.png);
  padding-bottom: 100px;
  padding-top: 40px;
  margin-bottom: -68px;
  z-index: -1;
}
/*Agregando el color blue 700 caracteristico de AL*/
.page-brand .header-transparent.affix{
	background-color: #388ccc;
}

.header{
  margin-top: 0;
  padding-top: 0;
}

.menu-usuario {
  margin-top: 40px;
}
.menu-top-img img {
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.menu-content .nav .a, .menu-content .nav a {
	color:rgba(255,255,255,0.87);
}
.menu-content .nav a:hover{
	background-color:transparent;
	color:rgba(255,255,255,1);
}

/*IcoFix es una clase para acomodar el icono porque sin el margin se veria arriba de todo por alguna razon*/

#icofix {
  margin-top:9px;
}

.avatar #icofix {
  color:#fff;
}

/*quitamos los margenes de h1 que es el titulo de cada página en el foro*/

h1{
  margin: 0;
  padding: 0;
}

.bienvenido{
  font-size: 1.5em;
  margin: 10px 0 10px 0;
}

.oculto{
  	visibility: hidden;
}


.card-menu{
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0;
  margin-bottom: 10px;
}
.openid_login
{
	background:  url(../images/openid.gif) no-repeat;

}
/*para la busqueda de google*/
.busqueda{
	margin-top: 6.8px; /*numero aureo xD*/
}

.wrap
{
	word-wrap: break-word;
}

.navegacion{
  margin: 0;
}
