/*Agregando valores de project.css*/

.content-heading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -69px;
  padding-top: 68px;
  padding-bottom: 93px;
  z-index: 0;
}

.content-heading {
  background-image: url(../images/material/bg.png);
}
/*Agregando el color blue 700 caracteristico de AL*/
.page-brand .header-transparent.affix{
	background-color: #1976D2;
}

.menu-top-img img {
	-webkit-filter: blur(10px);
-moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
filter: blur(10px);
}

.menu-content .nav .a, .menu-content .nav a {
	color:rgba(255,255,255,0.87);
}
.menu-content .nav a:hover{
	background-color:transparent;
	color:rgba(255,255,255,1);
}
#al_menu > div > div.menu-content > ul > li > span > i {
	color:rgba(255,255,255,1);
} 

/*Intentando hacer que los cortes de la imagen sean cuadrados y sin necesidad de apretarlos.*/
