/*main.contenedor{
  margin-left: 10px;
  margin-right: 10px;
}*/

.content-heading {
  background-image: url(../images/material/bg.png);
  padding-bottom: 100px;
  padding-top: 40px;
  margin-bottom: -68px;
  z-index: -1;
}
/*Agregando el color blue 700 caracteristico de AL*/
.page-brand .header-transparent.affix{
	background-color: #388ccc;
}
/*Añadiendo el color de arriba en las lineas del dropdown*/
.form-control:focus, .picker__select--month:focus, .picker__select--year:focus {
  border-color:#388ccc;
}
.header{
  margin-top: 0;
  padding-top: 0;
}
.header table{
  width: 100%;
  table-layout:fixed;
}

.header table .tresrayas{
  width: 50px;
}

.header table .contenido{

  text-align: left;
}
/*para la busqueda de google*/
.header table .tbusqueda{
  text-align: right;
  margin-left: auto;
  margin-right: 30px;
  width: 300px;
}

@media(max-width: 768px){
  .ocultar-pequeno{
    display: none;
  }
}

.busqueda{
  margin-top: 13px;
  margin-bottom: -13px;
  width: 260px;
}



.header table .menu-usuario{
  width: 50px;
}

.titulo-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-top-img img {
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.menu-content .nav .a, .menu-content .nav a,.menu-collapse-toggle {
	color:rgba(255,255,255,0.87);
}
.menu-content .nav a:hover,.menu-collapse-toggle:hover{
	background-color:transparent;
	color:rgba(255,255,255,1)!important;
}

/*IcoFix es una clase para acomodar el icono porque sin el margin se veria arriba de todo por alguna razon*/



.icofix {
  color:#fff;
  margin-top:9px;
}

/*quitamos los margenes de h1 que es el titulo de cada página en el foro*/

h1{
  margin: 0;
  padding: 0;
}

.bienvenido{
  font-size: 1.5em;
  margin: 10px 0 10px 0;
}

.oculto{
  	visibility: hidden;
}


.card-menu{
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0;
  margin-bottom: 10px;
}
.openid_login
{
	background:  url(../images/openid.gif) no-repeat;

}

/*Arreglando los colores del menu*/
.menu-content .nav a:hover, .menu-content .nav a:focus {
  background-color: #607D8B;
}

/*seccion de las categorias*/

.sinmargen{
  margin: 0;
}

.sinpadding{
  padding: 0;
}

.sinmargen > li{
  margin: 0;
}

.cat_bar{
  background-color: #eee;
}

.ulsinpuntos{
  list-style-type: none;
}
.ulinline li{
  display: inline;
}


.ulleft li{
  float: left;
}

.birthday
{
  color: #920ac4;
}

.event
{
  color: #078907;
}

.holiday
{
  color: #000080;
}

.button_strip_new_topic{
  border-color: #ff4081;
  border-bottom: solid;
}

.button_strip_reply{
  border-color: #ff4081;
  border-bottom: solid;
}

.coloricono{
  color: rgb(117, 117, 117);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip-left {
  top: -5px;
  bottom: auto;
  right: 128%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.post_separator{
  border-top: solid;
  border-color: #EEEEEE;
}

.poster{
  text-align: center;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.flow_hidden
{
	overflow: hidden;
}
.cabecera_post{

  display: inline;
}

.acciones {
  display: inline;
}

.messageicon
{
	float: left;
	margin: 0 0.5em 0 0;
}
.messageicon img
{
	padding: 6px 3px;
}

.botonquickreply{
  margin-right: 10px;
  margin-bottom: 20px;
}

.icon-15x{
  font-size: 1.5em;
}

.justified{
  text-align: justify;
}

.sinborde{
  border: none;
}

.zindex99{
  z-index: 99;
}

.margen-izq-der-10{
  margin-left: 10px;
  margin-right: 10px;
}

 /* bbc */

/* Styling for BBC tags */
.bbc_link:link, .bbc_link:visited
{
  border-bottom: 1px solid #A8B6CF;
}
.bbc_link:hover
{
  text-decoration: none;
  border-bottom: 1px solid #346;
}
.bbc_size
{
  line-height: 1.4em;
}
.bbc_color a
{
  color: inherit;
}
.bbc_img
{
  border: 0;
}
.bbc_table
{
  font: inherit;
  color: inherit;
}
.bbc_table td
{
  font: inherit;
  color: inherit;
  vertical-align: top;
}
.bbc_u
{
  text-decoration: underline;
}
.bbc_list
{
  text-align: left;
}
.bbc_tt
{
  font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
}

strong{
  font-weight: bold;
}

blockquote.bbc_standard_quote, blockquote.bbc_alternate_quote
{
  font-size: small;
  background-color: #f5f5f5;
  line-height: 1.4em;
  border-top: 2px solid #99A;
  border-bottom: 2px solid #99A;
  padding: 1.1em 1.4em;
  margin: 0.1em 0 0.3em 0;
  overflow: auto;
}

a {
  background-color: transparent;
  background-image: none;
  color: #00796b;
  text-decoration: none;
}

a:focus, a:hover {
  color: #009688;
  outline: 0;
  text-decoration: underline;
}